.BookComponentStyle {
    margin:10px 20px;
    border:1px solid #333;
    border-radius: 10px;
    padding:14px 10px;
    width:7%;
    min-width:150px;
    float:left;
    box-sizing: border-box;
    height:400px;
}

.BookComponentStyle p {
    line-height:1.2em;
    margin-top:10px;
    margin-bottom:10px;
}

.BookComponentStyle img {
    width: 7%;
    min-width:130px;
    height:200px;
    text-align:center;
}

.BookComponentStyle .Title {
    font-weight:bold;
    padding-bottom:0px;
    margin-bottom:0px;
}

.BookComponentStyle .Rating {
    color:rgba(255, 123, 0, 0.815);
}

.BookComponentStyle button {
    width:7%;
    min-width:130px;
    border:1px solid black;
    border-radius:3px;
    font-weight:bold;
    background-color:#ccc;
    color:black;
    margin-bottom:2px;
    padding:5px;
}